@charset "UTF-8";

body {

    color: white;
    margin-top: 75px;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    background-color: var(--quotes);
    width: 90%;
    height: auto;
    border-radius: 40px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
}

h1 {
    margin-left: 40px;
    /* margin-top: 100px; */
    font-family: Arial;
    margin-bottom: 100px;
}

main > section {
    background: var(--background);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    font-family: Arial;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: 75px;

}

main > section > .tittle {

    font-weight: light;
    font-size: 35px;
    text-decoration: underline;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 40px;
}

.index > a:visited, a:link {

    color: white;
}

.type-1  {

    width: 80%;
}

.type-2 {

    width: 70%;
}

.type-3 {

    width: 60%;
}