@charset "UTF-8";

:root {
    --background: #585959;
    --fonts: white;
    --quotes: #65706D;   
    --roboto: 'Roboto Mono';
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    background: rgba(0,0,0,0);
}

html, body {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background);
}

a:link {
    text-decoration: none;
    color: grey;
}

a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home {

    margin: 0;
    padding: 0;
    top: -25px;
    left: 25px;
    position: absolute;
    width: 75px;
    height: 75px;

}

.home > img {

    width: 100%;
    height: auto;
}