@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(85, 204, 240);
}

.text {
    font-family: sans-serif;
    color: white;
    font-size: 30pt;
    padding: 25px;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    background-color: rgba(0,0,0,.7);
}

.text > span {
    animation: warn 6s infinite;
}

@keyframes warn {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1);
    }
}